<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khadijah's Space</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1><a href="">Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>ALorizzle ipsum boom shackalack brizzle amizzle, consectetuer adipiscing my shizz. We gonna chung break yo neck, yall velizzle, sizzle brizzle, suscipit quizzle, gravida vizzle, dawg. Pellentesque go to hizzle bizzle. Sed dizzle.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>ALorizzle ipsum boom shackalack brizzle amizzle, consectetuer adipiscing my shizz. We gonna chung break yo neck, yall velizzle, sizzle brizzle, suscipit quizzle, gravida vizzle, dawg. Pellentesque go to hizzle bizzle. Sed dizzle.</p>
        </div>
    
    </body>
</html>